/** Basic config file **/

configuration {
  show-icons:         true;
  icon-theme:         "Papirus";
}

//@theme "theme"

@theme "/usr/share/rofi/themes/Arc-Dark.rasi"

inputbar {
	background-image: url("~/.config/backgrounds/rofi/2.png", width);
	padding: 218 0 0;
	margin: 0 0 0 0;
} 
